<p id="notice"><%= notice %></p>

<%= link_to 'トップページ', users_path  %>
<div class="toppage">
<h1 class="top">カレンダー</h1>
<br>

  <div class="col-md-8"><%= link_to 'メモを追加', new_calendar_path %>
    <%= month_calendar events: @calendars do |date, calendars| %>
      <%= date.day %>

        <% calendars.each do |calendar| %>
          <div>
            <%= link_to calendar.title, calendar %>
          </div>
        <% end %>
    <% end %>
  </div>

<br>


<br>

<div class="row">
  <div class="col-md-4">
    <div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>日程</th>
          </tr>
        </thead>

        <tbody>
          <% @calendars.each do |calendar| %>
            <tr>
              <td><%= link_to calendar.title , calendar %></td>
              <td><%= calendar.start_time.strftime("%m-%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
